header { 
  display: flex;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 50px;
}

header >div {
  padding: 10px 10px 10px 10px;
  font-size: 3rem;
}

a {
  color: var(--glass-text) !important;
}

