
.container {
  display: flex;
  padding: calc(40px + 7%);
}

.sub-container{
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-size: 2.2rem;
  padding: 1rem;
}

.image-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.wasatch-photo {
  width: 100%;
}

.jump-photo {
  width: 50%;
}

.tips-photo {
  width: 50%;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
  }
  .sub-container {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .image-container {
    flex-direction: row;
    justify-content: center
  }

  .text {
    font-size: 1.8rem;
  }
}