.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo-wrap {
  height: 100px;
  width: 100px;
  padding: 40px;
}

.logo-wrap .strava{
  height: 100px;
  width: 100px;
}

@media (max-width: 767px) {

  .logos {
    flex-direction:row;
    justify-content: center;
  }

  .logo-wrap {
    height: 50px;
    width: 50px;
  }

  .logo-wrap .strava {
    height: 50px;
    width: 50px;
  }
}
